.graph-container {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    width: 525px;
    border: 5px solid black;
    background-color: white;
    margin-bottom: -20px;
    padding: 10px; /* Optional: Added padding for better spacing */
}

.graph-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.habit-name {
    color: orange;
}

.graph-bar {
    width: 25px;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    height: 20px; /* Add height to match original structure */
    margin-bottom: 10px; /* Optional: Add margin for spacing */
}
